/.metadata/
/AdditionalSamples/nbproject/private/
/CityJPA/build/
/CityJPA/dist/
/CityJPA/nbproject/private/
/TurismoJPA/nbproject/private/
/TurismoJPA/build/
/Porra/nbproject/private/
/Porra/build/
/TMDBNetBeans/nbproject/private/
/TMDBNetBeans/build/