body {
    margin: 0;
    background-color: rgb(42, 44, 41);
}

* {
    box-sizing: border-box;
    color: rgb(222, 223, 228);
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
} 

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px rgb(56, 56, 56);
    border-radius: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: rgb(243, 251, 254);
    }
}

nav li a {
    color: rgb(255, 255, 255);
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
    display: inline-block;
    
}

.text-red {
    color: red
}

nav a:hover {
    transition: all 0.2s;
    transform: scale(1.3, 1.3);
    color:rgb(12, 209, 223);
}
.text-center {
    text-align: center;
}
.py-3 {
    padding: 16px 0;
}
.px-3 {
    padding: 0 10px;
}
.p-3 {
    padding: 16px;
}

#home * {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.bg-azul-gradiente {
    border-radius: 10px;
    background: rgb(13,222,213);
    background: linear-gradient(90deg, rgba(13,222,213,1) 0%, rgba(29,104,176,1) 54%, rgba(251,7,7,1) 100%);
}
.bg-azul-c {
    background-color: rgb(240, 249, 252);
}
.text-white{
    color: white;
}
footer h1 {
    border-bottom-left-radius: 10px;
}
footer h1 {
    border-bottom-right-radius: 10px;
}

footer {
    margin-bottom: 20px;;
}

h1 {
    margin: 0;
}

#btnmenu {
    font-size: 40px;
    display: none;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #menu{
        display: block;
    }
}
/* css de las prácticas */
#home img {
    width: 100%;
    padding: 0 20px;
}
.text-red {
    color: red;
}
.bg-blue {
    background-color: blue;
    color: white;
}
.bg-green {
    background-color: green;
}
.bg-white {
    background-color: white;
}

/* ESTILO DE PRÁCTICAS */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#parrafos * {
    padding-left: 20px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

span {
    padding-left: 7px;
}

.text-aqua {
    color:aqua;
}

#parrafos span, #parrafos sup, #parrafos sub, #parrafos strong, #parrafos em {
    padding-left: 0;
}

#parrafos h2 {
    text-decoration: none;
}
#enlaces * {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#enlaces a:hover {
    color: red;
}


h2 {
    text-decoration: underline;
}

h2 .remarcar {
    text-decoration: none;
}

h2 span {
    display: inline-block;
    text-decoration: none;
}

.bg-azul {
    background-color: rgb(0, 195, 255);
}




#listas * {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.remarcar {
    color: rgb(0, 255, 170);
    text-decoration: none;
}

.fuera li{
    color:rgb(230, 51, 51);
}

.dentro-amarillo li {
    color: rgb(211, 6, 211);
}
 
.upper-roman {
    list-style: upper-roman;
}

.upper-roman li {
    color: rgb(230, 51, 51);
}

.mediodentro li {
    color: rgb(211, 6, 211);
}
.lower-roman {
    list-style: lower-roman;
}

.lower-roman li {
    color: rgb(211, 6, 211);
}

.olmuydentro li {
    color: rgb(0, 255, 242);
}

.alien {
    list-style-type:  "👽";
}

.alien li {
    color: rgb(23, 224, 23);
}

.caca {
    list-style-type: "💩";
}

.caca li {
    color: brown;
}
.silla-ruedas {
    list-style-type: "♿";
}

.silla-ruedas li {
    color: rgb(20, 100, 219);
}

.text-big-red {
    color: red;
    font-size: 30px;
}

#tablas * {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#tablas .diseño-par th:nth-child(even), #tablas .diseño-par tr td:nth-child(even) {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#tablas table td, th {
    color: rgb(255, 255, 255);
}

.blue-title th {
   background-color: rgb(25, 114, 247); 
}

.green-cell td {
    background-color: rgb(30, 187, 30);
}

#horario {
    width: 90%;
    margin: 0 auto;
    border-color: white;
    background-color: rgb(240, 240, 240)
}

#horario tr td {
    text-align: center;
    color: black;
}

.bold {
    text-decoration: solid;
}

#horario th, #horario th * {
    color: rgb(114, 199, 224);
    border-color: white;
}

.bdd {
    background-color: rgb(255, 200, 200);
}

.fol {
    background-color: rgb(128, 255, 255);
}

.prog {
    background-color: rgb(188, 120, 120);
}

.sisi {
    background-color: rgb(180, 180, 100);
}

.ing {
    background-color: rgb(100, 180, 240);
}

.lmsg {
    background-color: rgb(255, 210, 50);
}

.ende {
    background-color: rgb(40, 200, 200);
}

#formularios label {
    margin-left: 10px;
}

#formularios input {
    color: rgb(255, 255, 255);
    margin: 10px;
    background-color: rgb(42, 44, 41);
}


#formularios {
    color: rgb(255, 255, 255);
}
#formularios select {
    padding-left: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 44, 41);
}

#formularios textarea {
    margin-left: 10px;
    color: black;
    background-color: rgb(42, 44, 41);
}


option {
    color: rgb(255, 255, 255);
}

.input-numerico {
    width: 60px;
}

#formularios select {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin10 {
    margin: 10px;
}